ion-input {
    font-size: 30px;
}

.fw-field-header {
    font-size: 30px;
}

.fw-income-field-input {
    font-size: 30px;
}

.fw-form-submit-error {
    font-size: 30px;
}

.income-asterisk {
    font-size: 30px;
}

.fw-income-header-image {    
    object-fit: cover;    
}